	* {
		margin:0;
		padding:0;
		}

	html, body {
		height:100%;
		}

	body {
		background-color: white;
		text-align:center; /* horizontal centering for IE Win quirks */
		}

	#distance { 
		width:1px;
		height:50%;
		background-color:white;
		margin-bottom:-13.75em; /* half of container's height */
		float:left;
		}

	#container {
		margin:0 auto;
		position:relative; /* puts container in front of distance */
		text-align:left;
		height:27.5em;
		width:45em;
		clear:left;
		background-color:white;
		background-image: url('common/images/background.gif');
		background-position: top center;
		background-repeat: no-repeat;
		border-top-color:white;
		border-left-color:white;
		}

	#container div {
		font-size:80%;
		float:right;
		width:17em;
		margin-left:2em;
		}

  #dropcard div {
    float:right;
  }
